# db
POSTGRES_URL=postgresql://username:password@host/database?sslmode=require

# admin panel
ADMIN=your_admin_password_here

SESSION_SECRET=

# shortlink gweh, cek ze4.me
SHORTLINK_API_KEY=

PUBLIC_SITE_URL=https://your-site.vercel.app
